
<h4 class="a1"> About Us </h4>
<img src="https://parivahan.gov.in/parivahan//sites/default/files/img/icon-mail-circle.png" alt="yoast seo" height="200"
    width="300" />

<img src="https://www.supermarketnews.com/sites/supermarketnews.com/files/styles/article_featured_standard/public/busyconsumers_0.jpg?itok=kSabo_lX"
    alt="yoast seo" height="288" width="388" />

   
   

<p>
    About Supermarket News
    Supermarket News is the brand food-retail professionals count on for competitive intelligence,
    news, and information to make smart business decisions. Retailers, manufacturers, brokers,
    analysts, association executives and others connected to the industry consider Supermarket
    News as their primary information source as we continue to lead the way with the most experienced
    team of full-time editors dedicated to maintaining the integrity and objectivity demanded by our audience.
</p>
<!-- <i class="bi bi-twitter"></i> -->

<h2> Our Vision</h2>
To improve the quality of service delivery to the citizen and the quality of work environment of the Products.

<h2>Our Mission</h2>
<p> To all online electronics related products to card technology to handle issues like transport and to create information
</p>