<div class="container-fluid">
    <div class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <h4>company</h4>
              <ul>
                <li><a href="#">about us</a></li>
                <li><a href="#">our services</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">affiliate program</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>get help</h4>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">shipping</a></li>
                <li><a href="#">returns</a></li>
                <li><a href="#">order status</a></li>
                <li><a href="#">payment options</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>online shop</h4>
              <ul>
                <li><a href="#">browse</a></li>
                <li><a href="#">cart</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                <a href="#" style="background-color:white;color:#3b5998;font-size:18px;"><i class="fab fa-facebook-f"></i></a>
                <a href="#" style=" background-color:white;color: #00acee;font-size:18px;"><i class="fab fa-twitter"></i></a>
                <a href="#" style="background-color: white;"><i class="fab fa-instagram" id="insta"  style="font-size:18px;padding:5px;"></i></a>
                <a href="#" style="background-color: white;"><i class="fab fa-linkedin-in" style="color:#0e76a8;font-size:16px;"></i></a>
              </div>
            </div>
          </div>
        </div>
        
    </div>
    
    
</div>

